<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CreateAccount</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'firstapge.css' %}">
    
</head>

<body>
    <div class="He"> 
        <h1 align="center">CreateAccount</h1>
    </div>

    <table align="center" class="Table_c">
        <tr>
            <td>Email</td>
            <td><input type="email"></td>

        </tr>
        <tr>
            <td>password</td>
            <td><input type="password"></td>
        </tr>
        
        <tr>
            <td>re-password</td>
            <td><input type="password"></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Create</button></td>
        </tr>
    </table>
    
</body>
</html>